/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-oct-2015, 23:17:47
    Author     : Asnay
*/

#TablaListP>table {
    border-collapse: collapse;  
    
}

#TablaListP>table tr, #TablaListP>table td, #TablaListP>table th {
 border: 2pt solid black;
}
